.modal#open-modal
  a.modal__close(href="#close-modal" data-clear)
  .modal__holder
    .modal__header
      h1.modal__title Pedido de Inclusão de Pessoa

    form.modal__form#modal-form(action='https://formsquash.io/f/Ro6TazxGTXmmcuw9w6ie', method='POST')
      .modal__selectors
        label.modal__tag(for="fullName") Nome
        input.modal__input.input(type='text', name='fullName' placeholder="Ivete" pattern="([^][A-zÀ-ž][^]+)" required)
        label.modal__tag(for="services") Serviços / Produtos
        input.modal__input.input(type='text', name='services' placeholder="Adicione até 3 itens separados por vírgula" required)
        label.modal__tag(for="phoneNumber") Telefone
        input.modal__input.input(type='phone', name='phoneNumber'  placeholder="Número com DDD" pattern="/^[1-9]{2}(?=.*[0-9]{4,5})[- ()0-9]{4}+$/"  minlength="10" maxlength="15" required)
        label.modal__tag(for="website") Link (Opcional)
        input.modal__input.input(type='text', name='website' placeholder="Site ou Rede Social")
        .modal__condo
          .modal__block 
            label.modal__tag(for="block") Bloco
            input.modal__input.input(type='text', name='apartment' placeholder="Nº" pattern="^[0-9]{2}(?=.*[0-9]{2})+$" required)
          .modal__apartment
            label.modal__tag(for="apartment") Ap.
            input.modal__input.input(type='text', name='apartment' placeholder="Nº" pattern="^[0-9]{2}(?=.*[0-9]{2})+$" required)

      .modal__footer
        a.modal__button(href="#close-modal" data-clear) Cancelar
        button.button(type="submit" ) Confirmar


.modal#success-modal
  a.modal__close(href="#close-modal")
  .modal__holder.modal__holder--small
    .modal__header
      h1.modal__title Sua solicitação foi enviada! 🎉
    .modal__content
      p Vamos analisar seus dados e se tudo estiver certo em breve publicaremos no site.
    .modal__footer
      a.button(href="#close-modal") Fechar
