.modal#open-modal
  a.modal__close(href="#close-modal" data-clear)
  .modal__holder
    .modal__header
      h1.modal__title Pedido de Inclusão de Pessoa

    form.modal__form#modal-form(action='https://formsquash.io/f/Ro6TazxGTXmmcuw9w6ie', method='POST')
      .modal__selectors
        label.modal__tag(for="fullName") Nome
        input.modal__input.input(type='text', name='fullName' placeholder="Ivete" pattern="([^][A-zÀ-ž][^]+)" required)
        label.modal__tag(for="services") Serviços / Produtos
        input.modal__input.input(type='text', name='services' placeholder="Adicione até 3 itens separados por vírgula" required)
        label.modal__tag(for="phoneNumber") Telefone
        input.modal__input.input(type='phone', name='phoneNumber'  placeholder="Número com DDD" pattern="/^[1-9]{2}(?=.*[0-9]{4,5})[- ()0-9]{4}+$/"  minlength="10" maxlength="15" required)
        label.modal__tag(for="website") Link (Opcional)
        input.modal__input.input(type='text', name='website' placeholder="Site ou Rede Social")
        .modal__condo
          .modal__block
            label.modal__tag(for="block") Bloco
            input.modal__input.input(type='text', name='block' placeholder="Nº" pattern="^[0-9]{2}$" required)
          .modal__apartment
            label.modal__tag(for="apartment") Ap.
            input.modal__input.input(type='text', name='apartment' placeholder="Nº" pattern="^[0-9]{2}$" required)

      .modal__footer
        a.modal__button(href="#close-modal" data-clear) Cancelar
        button.button(type="submit" ) Confirmar


.modal#success-modal
  a.modal__close(href="#close-modal")
  .modal__holder.modal__holder--small
    .modal__header
      h1.modal__title Sua solicitação foi enviada! 🎉
    .modal__content
      p Vamos analisar seus dados e se tudo estiver certo em breve publicaremos no site.
    .modal__footer
      a.button(href="#close-modal") Fechar

.modal#gates-modal
  a.modal__close(href="#close-modal")
  .modal__holder.modal__holder--big
    iframe(src='https://www.google.com/maps/d/embed?mid=1gI4YjJMcEpLeb4Oa8yYrK81WPcL6VrgP', height='580')


//- .modal#contact-modal
//-   a.modal__close(href="#close-modal")
//-   .modal__holder
//-     img(src="assets/logo.jpg", alt="Camelias-logo")
//-     .modal__holder--about
//-       h1.modal__title TELEFONES ÚTEIS
//-       h3 SETOR DE CORRESPONDÊNCIA
//-       span.modal__content Ligue do Interfone para o nº: <b>61</b>
//-       h3 ADMINISTRAÇÃO CAMÉLIAS
//-       a.modal__content(href="tel:#{ 143203-4411 }") 14 3203-4411
//-       a(href="mailto: administração@parquecamelias.com.br") administração@parquecamelias.com.br
//-       h3 2ª VIA DE BOLETOS
//-       span.modal__content NP Service -
//-         a(href="tel:#{ 144009-4444 }") 14 4009-4444
//-       a(href="mailto: contato@npservice.com.br") contato@npservice.com.br
