modal.modal
  div(class="container--title")
    h1(class="title") Pedido de Inclusão de Pessoa
     
  form(class="form-content" action='https://formsquash.io/f/Ro6TazxGTXmmcuw9w6ie', method='POST')
    div(class="selectors") 
      label(class="modal-tag" for="fullName") Nome
      input(class="modal-input" type='text', name='fullName')
      label(class="modal-tag" for="services") Serviços / Produtos
      input(class="modal-input" type='text', name='services')
      label(class="modal-tag" for="phoneNumber") Telefone
      input(class="modal-input" type='phone', name='phoneNumber')
      label(class="modal-tag" for="website") Link (Opcional)
      input(class="modal-input" type='text', name='website')
      div(class="modal-buttons")
        button(class="cancel-button" type="cancel") Cancelar
        button(class="confirm-button" type="submit") Confirmar
