.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 350px;
  height: auto;
  margin: 15px;
  border-radius: 5px;
  background: $white;


  @media screen and (max-width: $tablet) {
    margin: 15px 0;
    min-width: 100%;
  }

  &--modal {
    min-height: 150px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-weight: bolder;
    color: $green;
    font-size: 18px;
  }

  &--modal:hover {
    opacity: 0.5;
    transition: opacity 0.5s linear;
  }

  &__icon:not(.card__icon--contact) {
    margin: 0 20px;
  }

  &__icon--contact {
    margin-right: 10px;
  }

  &__contact {
    margin: 15px 0;
    padding-left: 20px;
  }

  &__title {
    font-size: 18px;
    font-weight: bolder;
    margin-top: initial;
    margin-bottom: inherit;
  }

  &__label {
    font-size: 14px;
    color: $darkgrey;
    margin: 0;
    text-decoration: none;
  }

  &__services {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &__tag {
    padding: 5px;
    border-radius: 5px;
    background-color: $green;
    color: $white;
  }

  &__tag:not(:last-child) {
    margin: 5px 10px 5px 0px;
  }

  &__block,
  &__info {
    display: flex;
    align-items: center;
  }

  &__block:not(:first-child) {
    margin-left: 20px;
  }

  &__info {
    border-top: 2px solid $grey;
    width: 100%;
    padding: 20px;
  }
}
