.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: auto;
  margin: 15px;
  border-radius: 5px;
  background: $white;

  @media screen and (min-width: $hd) {
    width: calc(100% / 5 - 30px);
  }

  @media screen and (max-width: $hd-up) {
    width: calc(100% / 4 - 30px);
  }

  @media screen and (max-width: $web) {
    width: calc(100% / 3 - 30px);
  }

  @media screen and (max-width: $tablet) {
    width: calc(100% / 2 - 30px);
  }

  @media screen and (max-width: $mobile) {
    margin: 15px 0;
    min-width: 100%;
  }

  &--modal {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-weight: bolder;
    color: $green;
    font-size: 18px;
    transition: box-shadow .25s linear;

    @media screen and (min-width: $mobile) {
      min-height: 150px;
    }

    @media screen and (max-width: $mobile-up) {
      height: 100px;
    }
  }

  &--modal:hover {
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }

  &__icon:not(.card__icon--contact) {
    margin-right: 20px;
    transition: transform .25s linear;

    .card--modal:hover & {
      transform: rotate(180deg);
    }
  }

  &__icon--contact {
    margin-right: 10px;
  }

  &__icon--contact * {
    transition: fill .25s linear;
  }

  &__contact {
    margin: 15px 0;
    padding-left: 20px;
  }

  &__title {
    font-size: 18px;
    font-weight: bolder;
    margin-top: initial;
    margin-bottom: inherit;
  }

  &__label {
    align-items: center;
    display: flex;
    font-size: 14px;
    color: $darkgrey;
    margin: 0;
    text-decoration: none;
    transition: color .15s linear;
  }

  &__label:hover {
    color: $green;

    .card__icon * {
      fill: $green;
    }
  }

  &__services {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &__tag {
    padding: 5px;
    border-radius: 5px;
    background-color: $green;
    color: $white;
  }

  &__tag:not(:last-child) {
    margin: 5px 10px 5px 0px;
  }

  &__block,
  &__info {
    display: flex;
    align-items: center;
  }

  &__block:not(:first-child) {
    margin-left: 20px;
  }

  &__info {
    border-top: 2px solid $grey;
    width: 100%;
    padding: 20px;
  }
}
