.error {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: $green;
}

.error__box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
}

.box__content {
  text-align: left;
  line-height: 50px;
}

.title {
  border-bottom: none;
  line-height: 0;
}

.button {
  width: 40%;
  color: white;
  background: $green;
  border: none;
  border-radius: 3px;
  padding: 6px;
}

.error__image {
  position: relative;
}
