.error {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: $green;
  height: 100%;
  padding: 0;

  &__box  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  &__box:first-child {
    background-color: $white;
  }

  &__box:last-child {
    border-left: 50px solid white;
  }

  &__content {
    text-align: left;
    line-height: 50px;
  }

  &__title {
    border-bottom: none;
    line-height: 0;
  }

  &__button {
    min-width: 100px;
    display: inline-block;
    line-height: 1.4;
  }


  &__illustration {
    position: absolute;
    z-index: 44;
    right: 0;
    bottom: 0;
    max-width: 70%;
  }
}
