.input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: $grey;
  border: 2px solid transparent;
  font-size: 14px;
  padding: 4px 8px;
  transition: all 0.2s linear;

  &:focus {
    background-color: $white;
    border-color: $grey;
  }
}

.button {
  background-color: $green;
  border-radius: 4px;
  width: 40%;
  height: 40px;
  font-weight: bold;
  color: $white;
  outline: none;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: darken($green, 10);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: auto;
  max-width: 100%;
  position: relative;
  top: 170px;
}
