.menu {

  &__input {
    display: none;
  }

  &__button {
    display: block;
    cursor: pointer;
    height: 24px;
    z-index: 9995;
  }

  &__button::before {
    content: '';
    position: fixed;
    width: calc(100% - 200px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 9994;
    transition: opacity .2s linear;
  }

  &__collapse {
    position: fixed;
    width: 200px;
    top: 0;
    background-color: white;
    padding: 60px 10px 10px;
    height: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    left: 0;
    transform: translateX(-250px);
    transition: transform .2s linear;
    z-index: 9994;
    overflow: hidden;
  }

  &__link {
    display: block; 
    padding: 5px;
    text-decoration: none;
    color: $asphalt;
    font-size: 12px;
  }

  &__link:hover {
    color: $green;
    background-color: $white; 
    font-size: 13px;
    padding: 4px;
  }

  &__close {
    transform: rotate(45deg);
  }

  &__input:checked ~ .menu__collapse {
    transform: translateX(0);   
  }

  &__input:not(:checked) + .menu__button .menu__close {
    display: none;
  }

  &__input:checked + .menu__button .menu__icon {
    display: none;
  }

  &__input:checked + .menu__button::before {
    opacity: 1;
    visibility: visible;
  }

}
