.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 360px;
  height: 532px;
  background-color: $white;


  .container--title {
    display: flex;
    justify-content: center;
  }

  .title {
    font-size: unset;
    position: relative;
    left: -41px;
    border-bottom: none;
  }

  .form-content {
    display: flex;
    justify-content: center;
    line-height: 40px;
  }

  .selectors {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .modal-tag {
    display: flex;
    justify-content: flex-start;
    color: $darkgrey;
    font-size: 14px;
  }

  .modal-input {
    border-radius: 5px;
    height: 39px;
    padding-left: 15px;
    background-color: $grey;
  }

  .modal-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 10px 20px $white;
    border-width: 100%;
    position: relative;

  }

  .cancel-button {
    background-color: $white;
    border: none;
    width: 40%;
    font-weight: bold;
    color: $asphalt;
  }

  .confirm-button {
    background-color: $green;
    border-radius: 4px;
    width: 40%;
    height: 40px;
    font-weight: bold;
    color: $white;
    outline: none;



  }
}
