.error
  .something
    .error__something
      h1.title Ops...
      h3.content Parece que essa página não existe. 
        
      button.button(type="button", name="button") Voltar 
    
    
 
   
  
   
