doctype
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name='title', content="Camélias - Produtos & Serviços")
    meta(name='description', content="Lista de prestadores de serviço do condomínio")
    meta(name='image', content='https://camelias-residencial.github.io/produtos-servicos/assets/symbol.png')
    meta(itemprop='name', content='Camélias - Produtos & Serviços')
    meta(itemprop='description', content='Lista de prestadores de serviço do condomínio')
    meta(itemprop='image', content='https://camelias-residencial.github.io/produtos-servicos/assets/symbol.png')
    meta(property='og:site_name', content="Camélias - Produtos & Serviços")
    meta(property='og:type', content="website")
    meta(property='og:url', content="https://camelias-residencial.github.io/produtos-servicos/")
    meta(property='og:title', content="Camélias - Produtos & Serviços")
    meta(property='og:description', content="Lista de prestadores de serviço do condomínio")
    meta(property='og:image', content="http://camelias-residencial.github.io/produtos-servicos/assets/symbol.png")
    meta(property='og:image:secure_url', itemprop="image", content="https://camelias-residencial.github.io/produtos-servicos/assets/symbol.png")
    meta(property="og:image:type" content="image/png")
    meta(property='og:image:width', content='200')
    meta(property='og:image:height', content='200')
    meta(property="og:locale", content="pt_BR")
    meta(property='twitter:card', content="summary_large_image")
    meta(property='twitter:url', content="https://camelias-residencial.github.io/produtos-servicos/")
    meta(property='twitter:title', content="Camélias - Produtos & Serviços")
    meta(property='twitter:description', content="Lista de prestadores de serviço do condomínio")
    meta(property='twitter:image', content="https://camelias-residencial.github.io/produtos-servicos/assets/symbol.png")
    meta(name="keywords", content="camelias, prestadores, bauru, serviços, compra, venda")
    meta(name="author", content="Matheus Costa")
    meta(name="msapplication-TileColor", content="#9ec681")
    meta(name="theme-color", content="#9EC681")
    link(rel="apple-touch-icon", sizes="180x180", href="assets/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="assets/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="assets/favicon/favicon-16x16.png")
    link(rel="manifest", href="assets/favicon/site.webmanifest")
    link(rel="mask-icon", href="assets/favicon/safari-pinned-tab.svg", color="#9ec681")
    link(href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:700&display=swap', rel='stylesheet')
    link(rel="stylesheet" href="css/main.css")
    title Camélias - Produtos & Serviços
  body
    if current.source != '404'
      != partial("layout/_header")
      != partial("layout/_modal")
      != yield
      script(type="module" src='js/jquery.js')
      script(type="module" src='js/scripts.js')
    else
      != yield
