doctype
html
  != partial("layout/_head")
  body
    if current.source != '404'
      != partial("layout/_header")
      != partial("layout/_modal")
      != yield
      script(type="module" src='js/jquery.js')
      script(type="module" src='js/scripts.js')
    else
      != yield
