doctype
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name='title', content='Camélias - Serviços')
    meta(name='description', content='Compra, venda, troca e prestadores de serviço do condomínio')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://camelias-residencial.github.io/camelias-services/')
    meta(property='og:title', content='Camélias - Serviços')
    meta(property='og:description', content='Compra, venda, troca e prestadores de serviço do condomínio')
    meta(property='og:image' content='https://camelias-residencial.github.io/camelias-services/assets/logo.jpg')
    meta(property="og:locale", content="en_US")
    meta(property='twitter:card', content='summary_large_image')
    meta(property='twitter:url', content='https://camelias-residencial.github.io/camelias-services/')
    meta(property='twitter:title', content='Camélias - Serviços')
    meta(property='twitter:description', content='Compra, venda, troca e prestadores de serviço do condomínio')
    meta(property='twitter:image', content='https://camelias-residencial.github.io/camelias-services/assets/logo.jpg')
    meta(name="keywords", content="camelias, prestadores, bauru, serviços, compra, venda")
    meta(name="author", content="Matheus Costa")
    meta(name="theme-color", content="#9EC681")
    link(href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap', rel='stylesheet')
    link(rel="stylesheet" href="css/main.css")
  body
    != partial("layout/_header")
    != partial("layout/_modal")
    != partial("layout/_cards")
    != yield
    script(type="module" src='js/jquery.js')
    script(type="module" src='js/scripts.js')
