

main.container
  form(action='https://formsquash.io/f/Ro6TazxGTXmmcuw9w6ie', method='POST')
    label(for="fullName") Nome
    input(type='text', name='fullName')
    label(for="services") Serviços
    input(type='text', name='services')
    label(for="phoneNumber") Telefone
    input(type='phone', name='phoneNumber')
    label(for="website") Link (Opcional)
    input(type='text', name='website')
    button(type="submit") Enviar
